streamlit
python-dotenv==1.0.1
retry==0.9.2
requests==2.32.3
atlassian-python-api==3.41.21
beautifulsoup4==4.13.4
scikit-learn==1.4.0
pandas==2.2.2
numpy==1.26.4
pydantic==2.11.5
PyYAML==6.0.2
urllib3==2.4.0
prance==25.4.8.0
openapi-spec-validator==0.7.2
jira==3.8.0
testit-api-client==7.2.0.post550
tenacity==9.1.2
asyncio==4.0.0
httpx==0.28.1
mlflow==3.5.1
openai==2.7.2
playwright==1.41.2
browser_use==0.9.7
fastapi==0.115.0
uvicorn==0.32.0