streamlit
python-dotenv==1.0.1
pandas==2.2.2
pydantic==2.11.5
PyYAML==6.0.2
tenacity==9.1.2
httpx==0.28.1
mlflow==3.5.1
openai==2.7.2
playwright==1.41.2
browser_use==0.11.2
fastapi==0.115.0
uvicorn==0.32.0
keyring==25.6.0
SQLAlchemy==2.0.41
alembic==1.16.1
asyncpg==0.30.0
psycopg2-binary==2.9.10