streamlit
python-dotenv==1.0.1
retry==0.9.2
requests==2.32.3
atlassian-python-api==3.41.21
beautifulsoup4==4.13.4
langchain==0.3.21
scikit-learn==1.4.0
pandas==2.2.2
numpy==1.26.4
llama-index==0.12.40
llama-index-agent-openai==0.4.9
llama-index-cli==0.4.3
llama-index-core==0.12.40
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.7.4
llama-index-llms-openai==0.4.3
llama-index-readers-file==0.4.9
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.28
pydantic==2.11.5
pydantic_core==2.33.2
PyYAML==6.0.2
urllib3==2.4.0